body {
  background-color: beige;
}
.countdown {
  width: 800px;
  height: 200px;
  margin: 200px auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
ul {
  list-style: none;
}
